<ng-map center="41,-87" zoom="3">
    <directions ng-if="TrafficMap.preparedDirection.waypoints.length" waypoints="{{ TrafficMap.preparedDirection.waypoints }}"
        draggable="false" origin="{{ TrafficMap.preparedDirection.origin }}" destination="{{ TrafficMap.preparedDirection.destination }}">
    </directions>
    <directions ng-if="!TrafficMap.preparedDirection.waypoints.length" draggable="false" origin="{{ TrafficMap.preparedDirection.origin }}"
        destination="{{ TrafficMap.preparedDirection.destination }}">
    </directions>
</ng-map>